Source: tofino-sde
Maintainer: Nils Nieuwejaar <nils@oxidecomputer.com>
Section: misc
Priority: optional
Package: tofino-sde
Version: _version_
Architecture: amd64
Depends: 
Description: Tofino SDE bits needed to run the dataplane
